{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}AVCC - Error (500){% endblock %}
{% block error_block %}

	<center>
		<div>
			<h2>Oops! An Error Occurred</h2>
		</div>
		<div>
			There was a problem serving the requested page. Please try again later or contact <a href="mailto:support@avpreserve.com">support@avpreserve.com</a>
		</div>
	</center>
{% endblock error_block %}
