{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}AVCC - Error (404){% endblock %}
{% block body %}
    <center>
		<div>
			<h2>Error (404)</h2>
		</div>
		<div>
			We can't find the page you're looking for. Head back to <a href="{{ path('_welcome')}}">home</a>.
		</div>
	</center>
{% endblock body %}
