{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}AVCC - Error (500){% endblock %}
{% block body %}

	<center>
				<h4>The server returned a "{{ status_code }} {{ status_text }}".</h4>
		<div>
			<h2>Oops! An Error Occurred</h2>
		</div>
		<div>
			There was a problem serving the requested page. Please try again later or contact <a href="mailto:support@weareavp.com">support@weareavp.com</a>
		</div>
	</center>
{% endblock body %}
