{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}AVCC - Access Denied{% endblock %}
{% block error_block %}

	<center>
		<div>
			<h2>Access Denied</h2>
		</div>
		<div>
			You do not have permission to access this page. Head back to <a href="{{ path('_welcome')}}">home</a>.
		</div>
	</center>
{% endblock error_block %}
