/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/DoctrineMigrations/.gitkeep
/build/
/vendor/
/bin/
nbproject
/nbproject/private/
.DS_Store
