imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      ~
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true, enabled: true }
    templating:
        engines: ['twig','php']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:         ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%" 
    strict_variables: "%kernel.debug%"
    globals:
        ga_tracking: "%ga_tracking%"
        qa_instance: "%qa_instance%"
        stripe_publishkey: "%stripe_publishkey%"
        enable_stripe: "%enable_stripe%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:    
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8   
        logging: false
        profiling: false
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: "%kernel.root_dir%/data/data.db3"
        # path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true
        dql:
            datetime_functions:
                DATE_FORMAT: Application\Bundle\FrontBundle\DQL\DateFormatFunction
    
# Swiftmailer Configuration
swiftmailer:
#    transport:  sendmail
#    encryption: ssl
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Application\Bundle\FrontBundle\Entity\Users
    registration:
        form:
            type: application_user_registration
        confirmation:
            enabled:    true
    profile:
        form:
            type: application_user_profile
    from_email:
        address:        "%mail_from_email%"
        sender_name:    AVCC AVPreserve

doctrine_migrations:
    dir_name: %kernel.root_dir%/DoctrineMigrations
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations

parameters:
    from_email: "%mail_from_email%"
    sphinx_param: "%sphinx%"
    
bugsnag:
    api_key: 0cbb25f7dc748ed279d3dbeafbace9ab

knp_gaufrette:
    adapters:
        photo_storage:
            amazon_s3:
                amazon_s3_id: application_front.amazon_s3
                bucket_name:  %amazon_s3_bucket_name%
                create:       false
                options:
                    create: true
    filesystems:
        photo_storage:
            adapter:    photo_storage
            alias:      photo_storage_filesystem
            
application_front:
  amazon_s3:
    aws_key: %amazon_aws_key%
    aws_secret_key: %amazon_aws_secret_key%
    base_url:       %amazon_s3_base_url%
