{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="login-body">
		<h2><b>Activation Email</b>
			<hr/>
			{{ 'registration.check_email'|trans({'%email%': user.email}) }}
		</h2>

		<div class="forget">

			<a href="{{ path('_welcome') }}" class="btn btn-primary">
				<span>Back to Home</span>
			</a>
		</div>

	</div>






{% endblock body %}
