{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="login-body">
		<h2><b>Account Activated</b>
			<hr/>
			{{ 'registration.confirmed'|trans({'%username%': user.username}) }}
		</h2>

		<div class="forget">
			{% if app.session is not empty %}
				{% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
				{% if targetUrl is not empty %}<p><a class="button primary" href="{{ targetUrl }}">Dashboard</a></p>{% endif %}
			{% endif %}

		</div>

	</div>
    <h2></h2>

{% endblock body %}
