{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="grid fluid">
        <h1>
            {{ entity.title }}
        </h1>
        <div class="horizontal">
                {{ entity.description | raw}}
        </div>
    </div>
{% endblock %}
