{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body -%}
    <h1>AudioRecords</h1>
{#    {{dump(fieldSettings)}}#}
{#{% for fieldSetting in fieldSettings %}
                {% set field =  fieldSetting.field|split(',') %}
                {{dump(fieldSetting.field|split(','))}}
            {% endfor %}    #}
    
{% endblock %}
