<nav class="sidebar light">
	<ul>
		<li class="title">Filters</li>
		<li><a href="#">Keyword</a></li>
			{% if facets.mediaType|length > 0 %}
			<li>
				<a class="dropdown-toggle" href="#">Media Type</a>
				<ul data-role="dropdown" >
					{% for mediaType in facets.mediaType %}
						<li><a href="javascript://"><input type="checkbox" class="facet_checkbox" name="mediaType[]" value="{{mediaType.media_type}}" />{{mediaType.media_type}} ({{mediaType.total}})</a></li>
							{% endfor %}


				</ul>
			</li>
		{% endif %}
	</ul>
</nav>
<script type="text/javascript">
	$(window).load(function () {
		var facets = new Records();
		facets.bindEvents();
	});
</script>