<nav class="sidebar light">
	<ul>
		<li class="title">Filters</li>
		<li><a href="#">Keyword</a></li>
		<li>
			<a class="dropdown-toggle" href="#">Media Type</a>
			<ul class="dropdown-menu" data-role="dropdown" style="display: none;">
				<li><a href="">Audio</a></li>
				<li><a href="">Video</a></li>
				<li><a href="">Film</a></li>
			</ul>
		</li>
	</ul>
</nav>