<div>Hi <b>{{ user.name }}</b>,</div>
<br/>
<div>You can download the file from the following link.</div>
<br/>

   <a href="{{ baseUrl }}{{ fileUrl }}">Download</a><br />

<br/><br/>
<div>AVCC-team</div>