{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('report') }}#_quantitative"><i class="icon-arrow-left-3 smaller"></i> </a>Audio Base Report
    </h1>
    <br/>
    <div id="audiobase_container">
    </div>




{% endblock %}
{% block view_javascripts %}

    <script type="text/javascript" src="{{ asset('js/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/exporting.js') }}"></script>

    <script type="text/javascript">
        var date = new Date();
        var time =  date.getFullYear()  + '' + (date.getMonth()+1) + '' + date.getDate()  + '' +  date.getHours() + '' + date.getMinutes() +''+date.getSeconds();
        var audiobase ={{ audiobase | raw }} ;
                $(window).load(function () {
            $('#audiobase_container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Total count per audio base'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y}'
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<span><b>{series.name}: </b></span>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span><br/><b>Total:</b>{point.y}<br/>'
                },
                series: [{
                        name: 'Audio base',
                        colorByPoint: true,
                        data: audiobase
                    }],
                exporting: {
                    filename: 'audio_base_report_' + time
                }
            });

        });


    </script>
{% endblock %}
