{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('report') }}#_quantitative"><i class="icon-arrow-left-3 smaller"></i> </a>Commercial/Unique Report
    </h1>
    <br/>
    <div id="commercial_container">
    </div>




{% endblock %}
{% block view_javascripts %}

    <script type="text/javascript" src="{{ asset('js/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/exporting.js') }}"></script>

    <script type="text/javascript">
         var commercialUnique ={{ commercialUnique | raw }} ;
         var month = date.getMonth() + 1;
        var day = date.getDate();
        var time =  date.getFullYear()  + '' + datePadding(month) + '' + datePadding(day)  + '' + datePadding(date.getHours()) + '' + datePadding(date.getMinutes()) +''+ datePadding(date.getSeconds());
                $(window).load(function () {
            $('#commercial_container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Total count per commercial/unique'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y}'
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<span><b>{series.name}: </b></span>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span><br/><b>Total:</b>{point.y}<br/>'
                },
                series: [{
                        name: 'Commercial/Unique',
                        colorByPoint: true,
                        data: commercialUnique
                    }],
                exporting: {
                    filename: 'commercial_unique_report_' + time
                }
            });

        });
function datePadding(data){
         return (data <= 9 ? "0" : "") + data;
     }

    </script>
{% endblock %}
