{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Reports
	</h1>
	<div>
		<a href="{{ path('all_formats_xlsx') }}">All Formats as XLSX</a>
	</div>
	<div>
		<a>All Formats as CSV</a>
	</div>

{% endblock %}
