{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Reports
	</h1>
	<div>
		<ul class="unstyled">
			<li><a href="{{ path('all_formats', { 'type': 'xlsx' }) }}">All Formats as XLSX</a></li>
			<li><a href="{{ path('all_formats', { 'type': 'csv' }) }}">All Formats as CSV</a></li>
		</ul>

	</div>


{% endblock %}
