{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Quantitative Report
	</h1>
	<br/>
	<div id="quantitative_container">
	</div>




{% endblock %}
{% block view_javascripts %}

	<script type="text/javascript" src="{{ asset('js/highcharts.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/exporting.js') }}"></script>

	<script type="text/javascript">
		$(window).load(function () {


		// Create the chart
		$('#quantitative_container').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: 'Browser market shares. November, 2013'
			},
			subtitle: {
				text: 'Click the columns to view versions. Source: netmarketshare.com.'
			},
			xAxis: {
				type: 'category'
			},
			yAxis: {
				title: {
					text: 'Total percent market share'
				}
			},
			legend: {
				enabled: false
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}%'
					}
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
				pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
			},
			series: [{
				name: 'Brands',
				colorByPoint: true,
				data: [
					['Shanghai', 23.7],
					['Lagos', 16.1],
					['Instanbul', 14.2],
					['Karachi', 14.0],
					['Mumbai', 12.5],
					['Moscow', 12.1],
					['São Paulo', 11.8],
					['Beijing', 11.7],
					['Guangzhou', 11.1],
					['Delhi', 11.1],
					['Shenzhen', 10.5],
					['Seoul', 10.4],
					['Jakarta', 10.0],
					['Kinshasa', 9.3],
					['Tianjin', 9.3],
					['Tokyo', 9.0],
					['Cairo', 8.9],
					['Dhaka', 8.9],
					['Mexico City', 8.9],
					['Lima', 8.9]
				]
			}],
		});
		
		});


	</script>
{% endblock %}