{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Quantitative Report
	</h1>
	<br/>
	<div id="quantitative_container">
	</div>




{% endblock %}
{% block view_javascripts %}

	<script type="text/javascript" src="{{ asset('js/highcharts.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/exporting.js') }}"></script>

	<script type="text/javascript">
		var formats ={{ formats | raw }};
		
		$(window).load(function () {


		// Create the chart
		$('#quantitative_container').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: 'Quantitative Report'
			},
			subtitle: {
				text: ''
			},
			xAxis: {
				type: 'category'
			},
			yAxis: {
				title: {
					text: 'Total count per format'
				}
			},
			legend: {
				enabled: false
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}%'
					}
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
				pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>Total {point.y}</b><br/>'
			},
			series: [{
				name: 'Format',
				colorByPoint: true,
				data:formats
			}],
		});
		
		});


	</script>
{% endblock %}