{% extends 'FOSUserBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <h1 class="place-left">Dashboard</h1> 
        <div class="place-left" style="margin-top: 35px; margin-left: 5px;">
            <select name="projects" id="projects">
                <option value="all">All Projects</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="span24">
            <div id="formatCount">

            </div>
        </div>
    </div>
{% endblock body %}
