{% extends 'FOSUserBundle::layout.html.twig' %}
{% block body %}
	<h1>
            <div class="place-left">Dashboard</div> 
            <div class="margin5 place-left">
                <select name="projects" id="projects">
                  <option value="all">All Projects</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
                </select>
            </div>
	</h1>

    <div class="row">
        <div class="span24">
            <div id="formatCount">
                
            </div>
        </div>
    </div>
{% endblock body %}
