{% extends '::base.html.twig' %}

{% block body %}
        <div class="login-body">
            <h2>Change Password</h2>
            <form class="form-signin" role="form" action="{{ path("password_change_request", { 'email': email }) }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrfToken }}" />
			{% if error %}
                <span class="has-error text-danger" style="margin-bottom: 10px;display:block;">{{ error }}</span>
			{% endif %}
                <div class="text-warning">
                    <p>Please create a new strong password that consists of a mixture of letters, numbers, and symbols (acceptable symbols include .@$!%*?& ) and is at least 12 characters long. Do not reuse a password that you have used in the past or one that you have used elsewhere.</p>
                </div>
                <div class="form-group">
                    <div class="pw controls">
                        <input type="password" id="password" name="password" placeholder="Password" required="required" class="form-control" data-rule-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="pw controls">
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required="required" class="form-control" data-rule-required="true">
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" value="Update Password" id="_submit" name="_submit" class="btn btn-primary">
                    <br />
                </div>
            </form>
            <div class="forget">
                <br />
            </div>
        </div>
     
{% endblock body %}
   {% block view_javascripts %}
    <script type="text/javascript">
       
    </script>
{% endblock view_javascripts %}