{% block subject %}
{% autoescape false %}
{{user.name}}
{% endautoescape %}
{% endblock %}
{% block body_text %}

Please click on following link to change password.

{% autoescape false %}
<a href="{{ confirmationUrl }}">Change Password</a>
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
