{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
<div class="grid fluid">
    <h1>
        <a href="{{ path('monthly_charges') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
        Monthly Charge Rate
    </h1>
    <dl class="horizontal">
        <dt>Start</dt>
        <dd>
                {{ entity.start }}
            </dd>
        </dl>
        <dl class="horizontal">
            <dt>End</dt>
            <dd>
                {{ entity.end }}
                </dd>
            </dl>
            <dl class="horizontal">
                <dt>Charges</dt>
                <dd>
                    $ {{ entity.charges }}/month
                </dd>
            </dl>
        </div>
{% endblock %}
